.form-wrapper {
    border: 3px solid black;
    padding: 20px;
    border-radius: 20px;
}

button {
    background-color: goldenrod;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
}

input {
    border: none;
    text-align: center;
    width: 70px;
    height: 20px;
}

.espacio{
    margin-right: 10px; 
}

