.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%; 
    width: 100%;
  }

  .title{
   font-weight: bold;
  }

  .scrollable-list {
    height: 80%; 
    overflow-y: auto;
  }
  

  